@import "../../layouts/default.import.less";

#pages-startpage * {
  color: #FFF;
}
.pages-startpage.pushable > .pusher {
  background-color: rgba(243, 89, 56, 0.1);
  > .ui.container {
    padding: 4.5em 0 5em;
  }
  & .img-container {
    padding: 150px 0;
  }
}
