//#partials-sidebar {
//    background: #FFF;
//}
//
//#partials-sidebar .ui.segment {
//    border: none;
//    box-shadow: none;
//    padding-top: 2em;
//}
//
//#partials-sidebar .transparent.menu {
//    width: auto;
//}
//
//#partials-sidebar .circular.image {
//    width: 64px;
//    height: 64px;
//}
//
///* customize login form */
//#partials-sidebar .at-form form > .ui.segment {
//    padding: 0;
//}
@import "../layouts/default.import.less";

#partials-sidebar {
    text-align: center;

    .ui.divider {
        margin: 0.5em 0em;
    }
    .ui.base.segment {
        background: @inactive-bg-color;
        padding: 0;
        border-radius: 0;
        height:100%;
    }

    .user-container {
        padding: 1em;
        .name {
            margin: 1em;
            font-size: 17px;
            text-transform: uppercase;
            color: #000;
        }
        .ui.button {
            border: 1.5px solid @default-button-color;
            border-radius: 7px;
            color: @default-button-color;
            font-size: @button-text-size;
            font-weight: 400;
            background: transparent;
            font-family: @font-family-headlines;
        }
    }
    .ui.segment.user {
        background: #EEE;
        border-bottom: 1px solid @border-color-base;
        border-radius: 0;
    }
    .ui.segment {
        background: @inactive-bg-color;
        border: none;
        box-shadow: none;
        padding: 0.5em 0.5em;
    }
    .ui.breadcrumb {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: @lighter-text-color;
        padding: 1em 1em;

        & a {
            color:@inverted-text-color;
        }
    }

    .segments-container {
        & a, a:focus{
            color:@inverted-text-color;
        }
    }
    .ui.stacked.segment:after {
        background: transparent;
        border: 0;
    }
}

.at-form, #pages-sign-in {
    .ui.segment {
        background-color: #EEE;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding-top: 4em;
    }

    .at-title {
        height: 60px;
        padding: 1em;
        margin-bottom: 0;
    }
    .at-title .ui.header {
        text-transform: uppercase;
        font-size: 12px;
        padding: 1em;
    }
    .ui.form .field > label {
        display: none;
    }
    .at-pwd-form .at-input .ui.input > input {
        height: 46px;
        border-radius: 2px;
        font-family: @font-family-headlines;
        font-weight: 600;

        &:focus {
            border-color: @lighter-text-color;
        }

        &::-webkit-input-placeholder {
            text-transform: uppercase;
        }

        &:-moz-placeholder { /* Firefox 18- */
            text-transform: uppercase;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            text-transform: uppercase;
        }

        &:-ms-input-placeholder {
            text-transform: uppercase;
        }


    }

    .at-link.at-pwd {
        font-size: @label-base-size;
        font-weight: 900;
        font-family: @font-family-headlines;
        text-transform: uppercase;
    }
    .ui.button {
        height: 46px;
        min-width: 130px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .ui.large.message {
        border: none;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
        margin-bottom: 45px;

        p {
            font-size: 15px;
            font-family: @font-family-headlines;
            font-weight: 500;
        }
    }
}

#partials-sidebar .transparent.menu {
    width: auto;
}

#partials-sidebar .circular.image {
    width: 64px;
    height: 64px;
}
