<template name="partials_main_menu">
    <div id="partials-main-menu" class="ui top fixed inverted menu">
        <div class="item">
            <a href="{{ pathFor 'pages_startpage' }}">
                <img src="/images/himate-logo-white.png" class="logo" alt="HiMate Logo" />
            </a>
        </div>

        <div class="right item">
            <div class="ui primary floating dropdown labeled icon button">
                <i class="world icon"></i>
                <span class="text">{{ i18n_currentLanguage.name }}</span>
                <div class="menu">
                    {{# each i18n_sortedLanguages }}
                    <div class="locale-change item">
                        {{ name }}
                    </div>
                    {{/ each }}
                </div>
            </div>
        </div>

        <div class="right item">
            {{# if currentUser }}{{ currentUser.username }}{{/ if }}
            {{> atNavButton }}
        </div>
    </div>
</template>