.modal{
  border-radius: 0;
  text-align: center;
  .header{
    background-color: $main-color ;
    color: white;
    text-transform: uppercase;
    font-size: $headline-1-size;
    border-radius: 0!important;
  }
  .actions{
    text-align: center;
    .button{
      border-radius: $border-radius-base;
      font-weight: 600;
      &.approve{
        background-color: $main-color ;
        border: 1.5px solid $main-color;
      }
      &.cancel{
        border: 1.5px solid $button-color;
        color: $button-color;
        background-color: transparent;
      }
    }

  }
}