# misc
.idea
.DS_Store
.project
.settings
.DS_STORE
.pydevproject
*.pyc
id_rsa
id_rsa.pub
access.log
error.log
logs/*
logs/*.*
!logs/.empty
public/dummies/*
packages/tests-proxy/*
docs/*
.tern-project
tools/locales/node_modules/
settings.json
vault_pass
build/customers/*
!build/customers/.empty
!build/customers/resources
.meteor/dev_bundle
apps/admin/.meteor/dev_bundle
apps/customers/.meteor/dev_bundle
apps/merchants/.meteor/dev_bundle
