<template name="partials_main_menu">
    <div id="partials-main-menu" class="ui top fixed inverted menu">
        <div class="sidebar toggle item">
            <i class="sidebar icon"></i>
        </div>

        <div class="ui item dropdown">
            <strong>{{ title }}</strong>
        </div>

        <div class="right menu">
            <div class="item">
                {{# if currentUser }}
                <a href="{{ pathFor 'pages_sign_in' }}" class="ui primary button logout">Sign Out</a>
                {{ else }}
                <a href="{{ pathFor 'pages_sign_in' }}" class="ui primary button">Sign In</a>
                {{/ if }}
            </div>
        </div>
    </div>
</template>