<template name="partials_sidebar">
    <div id="partials-sidebar" class="ui fixed wide left sidebar">
        <div class="ui base segment">
            <a class="home" href="{{ pathFor 'pages_startpage' }}"> waslchiraa </a>

            <div class="ui center aligned base segment">
                {{# if currentUser }}
                <div>
                    <img class="ui circular avatar image" src="/images/avatars/elyse.png" />
                    <br />
                    <strong>{{ currentUser.username }}</strong>
                    <br />
                </div>
                {{ else }}
                <p>
                    Please login first...
                </p>
                {{/ if }}
                {{> atNavButton }}
            </div>

            <div class="ui center aligned three item menu">
                <a class="item" href="{{ pathFor 'pages_about_us' }}"><i class="info icon"></i>About Us</a>
                <a class="item" href="{{ pathFor 'pages_privacy' }}"><i class="privacy icon"></i>Privacy</a>
                <a class="item" href="{{ pathFor 'pages_imprint' }}"><i class="legal icon"></i>Imprint</a>
            </div>
        </div>
    </div>
</template>