#partials-sidebar {
    background: #FFF;
}

#partials-sidebar .ui.segment {
    border: none;
    box-shadow: none;
    padding-top: 2em;
}

#partials-sidebar .circular.image {
    width: 64px;
    height: 64px;
}

#partials-sidebar .home {
    color: #F35938;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: block;
}
