<template name="layout">
    {{#ionBody}}
        {{> ionNavBar class="bar-positive"}}
        {{#ionNavView}}
			{{> yield}}
			{{#ionTabs class="tabs-positive tabs-icon-top"}}
				{{> ionTab title="Campaigns" path="campaigns" iconOff="navicon-round" iconOn="navicon-round"}}
				{{> ionTab title="Vouchers" path="vouchers" iconOff="asterisk" iconOn="asterisk"}}
				{{> ionTab title="Profile" path="profile" iconOff="person" iconOn="person"}}
                {{> ionTab title="Information" path="info" iconOff="information-circled" iconOn="information-circled"}}

            {{/ionTabs}}
		{{/ionNavView}}
    {{/ionBody}}
</template>
