<template name="partials_languages">
    <div id="partials-languages" class="ui top  inverted menu">
        <div class="sidebar toggle item icon js-menu" id="menu">
            <i class="icon-menu"></i>
        </div>
        <!--<a class="sidebar toggle item js-menu"> <i class="sidebar icon js-menu"></i> </a>-->
        <div class="centered-y centered-h">
        </div>
        <div class="right item">
            <div class="ui primary floating dropdown labeled icon button">
                <i class="world icon"></i>
                <span class="text">{{ i18n_currentLanguage.name }}</span>
                <div class="menu">
                    {{# each i18n_sortedLanguages }}
                    <div class="locale-change item">
                        {{ name }}
                    </div>
                    {{/ each }}
                </div>
            </div>
        </div>
    </div>
</template>