@import "../layouts/default.import.less";

#partials-main-menu {
    background: @main-color;
    height: @nav-base-height;
    margin: 0;
    border-radius: 0;
    & .sidebar {
        font-size: 1.25em;
        padding: 0 .5em;
        &.item:before {
            display: none;
        }
    }
    & .logo {
        width: 100%;
        color: #FFFFFF;
    }
}

body.pages-startpage #partials-main-menu {
    display: none;
}


@media (max-width: 420px){
    .logo {
        display: none;
    }
}