<template name="partials_sidebar">
    <div id="partials-sidebar" class="ui fixed left sidebar">
        <div class="ui base segment">
            {{# if currentUser }}
            <div class="ui center aligned base segment">
                <div>
                    <img class="ui circular avatar image" src="/images/avatars/elyse.png" />
                    <br />
                    <strong>{{ currentUser.username }}</strong>
                    <br />
                    {{> atNavButton }}
                </div>
            </div>
            {{ else }}
            <div class="at-form">
                {{> atForm }}
            </div>
            {{/ if }}
            <div class="ui divider"></div>

            <div class="ui transparent vertical menu">
                <a class="item" href="{{ pathFor 'pages_startpage' }}">{{_ 'home' }}<i class="home icon"></i></a>
                <a class="item" href="{{ pathFor 'pages_vouchers' }}">{{_ 'my_vouchers' }}<i class="qrcode icon"></i></a>
                <a class="item" href="{{ pathFor 'pages_campaigns' }}">{{_ 'campaigns' }}<i class="qrcode icon"></i></a>
                <a class="item" href="{{ pathFor 'pages_how_it_works' }}"><i class="help icon"></i>{{_ 'how_it_works' }}</a>
                <a class="item" href="{{ pathFor 'pages_about_us' }}"><i class="info icon"></i>{{_ 'about_us' }}</a>
            </div>

            <div class="ui divider"></div>

            <div class="ui center aligned two item menu">
                <a class="item" href="{{ pathFor 'pages_privacy' }}"><i class="privacy icon"></i>{{_ 'privacy' }}</a>
                <a class="item" href="{{ pathFor 'pages_imprint' }}"><i class="legal icon"></i>{{_ 'imprint' }}</a>
            </div>
        </div>
    </div>
</template>