@import "default.import.less";

.ui.container {
  margin: 0 !important;
}

.pusher > .ui.basic.segment, .pusher > .ui.container.error {
  padding: 5em 2em 5em 2em;
}

.ui.primary.buttons .button, .ui.primary.button {
  background-color: @button-primary-bg-color;
  color: #FFF;
  text-transform: uppercase;
}

.ui.primary.buttons .button:hover, .ui.primary.button:hover {
  background-color: @button-primary-bg-color;
  color: #FFF;
}

/** app states */
.pages-startpage.pushable > .pusher {
  background: @button-primary-bg-color;
}

.pages-startpage.pushable > .pusher > .ui.container {
  padding: 4.5em 0 5em;
}

.ui.divider{
  color: @border-color-base;
}

.headline {
  text-transform: uppercase;
}

.padded-content {
  padding: 0 25px;
}

.centered-y {
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.centered-h {
  text-align: center;
  width: 100%;
}

.text-primary {
  color: @active-text-color;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
}

h1 {
  font-size: @headline-1-size;
  margin: 0;
}

h2 {
  font-size: @headline-2-size;
  margin: 0;
}

h3 {
  font-size: @headline-3-size;
  margin: 0;
}

h4 {
  font-size: @headline-4-size;
  margin: 0;
}

h5 {
  font-size: @headline-5-size;
}

p {
  font-size: @text-base-size;
  font-family: @font-family-text;
  font-weight: 300;
}

a {
  color: @inverted-text-color;
}

.ui.container .header-navigation{
  border-bottom: 1px solid @border-color-base;
  height: @nav-base-height;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;

  & > h1 {
    font-family: @font-family-headlines;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: @main-text-color;
  }
}

//temporary
.ui.container > h1 {
  font-family: @font-family-headlines;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: @main-text-color;
}

.right.chevron.icon, .right.close.icon,.ico {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: @inverted-text-color;
}
.left.chevron.icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: inherit;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.button-container {
  height: @item-base-height;
}

.ui.button {
  color:  @main-bg-color;
  text-transform: uppercase;
  font-family: @font-family-headlines;
  font-weight: 600;
  font-size: @button-text-size;
  //height: 45px;
  border-radius: @border-radius-base;
  border: none;
  background: transparent;

  &:focus, &:hover, &.active:active, &.active:hover {
    background: transparent;
    color: @default-button-color;
  }

  &.primary {
    color: @main-bg-color;
    background-color: @button-primary-bg-color;
    &:focus {
      background-color: @button-primary-bg-color;
    }
  }
  &.success {
    color: @main-bg-color;
    background-color:@button-success-bg-color;

  }
  &.default {
    color:  @default-button-color;
    border: 1.5px solid @default-button-color;
    font-weight: 400;
    background: transparent;
  }
}

.ui.labeled.icon.button > .icon {
  &.world {
    background-color: transparent;
  }
}

.ui.modal{
  border-radius: 0;
  text-align: center;
  .header{
    background-color: @main-color ;
    color: white;
    text-transform: uppercase;
    font-size: @headline-1-size;
    border-radius: 0!important;
  }
  .actions{
    text-align: center;
    .button{
      border-radius: 7px;
      font-weight: 600;
      &.approve{
        background-color: @main-color ;
        border: 1.5px solid @main-color;
      }
      &.cancel{
        border: 1.5px solid @default-button-color;
        color: @default-button-color;
        background-color: transparent;
      }
    }

  }
}

@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?3be3qj');
  src:url('../../fonts/icomoon.eot?3be3qj#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon.ttf?3be3qj') format('truetype'),
  url('../../fonts/icomoon.woff?3be3qj') format('woff'),
  url('../../fonts/icomoon.svg?3be3qj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0em 0.25rem 0em 0em;
  text-align: center;
  width: 2em;
  height: 1em;
}
.icon-waslchiraa-logo:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-password:before {
  content: "\e909";
}
.icon-small-arrow:before {
  content: "\e90a";
}



.ico-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: inherit;
}

.ico-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: inherit;
}

//.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
//  -webkit-transform: translate3d(290px, 0, 0)!important;
//  transform: translate3d(290px, 0, 0)!important;
//}
//.ui.left.sidebar{
//  width: 290px !important;
//}


html.ios, html.ios body {
  height: 100% !important;
}